<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
    
    <context:component-scan base-package="com.SillyGoose">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>
    
    <!-- Spring 配置文件 -->
    <!-- 数据源 -->
    <context:property-placeholder location="classpath:conf/jdbc.properties"/>
    <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc_url}"></property>
        <property name="driverClass" value="${jdbc_driverClassName}"></property>
        <property name="user" value="${jdbc_username}"></property>
        <property name="password" value="${jdbc_password}"></property>
    </bean>
    <!-- 整合 mybatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定mybatis配置文件 -->
        <property name="configLocation" value="classpath:conf/mybatis.xml"></property>
        <property name="dataSource" ref="pooledDataSource"></property>
        <!-- 指定mapper文件  -->
        <property name="mapperLocations" value="classpath:com/SillyGoose/mapping/*.xml"></property>
    </bean>
    <!-- 配置扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描mapper接口实现 -->
        <property name="basePackage" value="com.SillyGoose.dao"></property>
    </bean>

    <!-- 事务控制 -->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 控制数据源 -->
        <property name="dataSource" ref="pooledDataSource"></property>
    </bean>

    <!-- 配置事物控制 -->
    <aop:config>
        <!-- 切入点表达式-->
        <aop:pointcut id="txtPoint" expression="execution(* com.SillyGoose.service..*(..))"></aop:pointcut>
        <aop:advisor advice-ref="txtAdvice" pointcut-ref="txtPoint"/>
    </aop:config>
    <tx:advice id="txtAdvice" transaction-manager="dataSourceTransactionManager">
        <tx:attributes>
            <tx:method name="*"/>
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
</beans>